/* Style body */
body, html {
  height: 100%;
  margin: 0;
}

/* Style tabs and content */
.tablink {
  background-color: #e9967a
;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: rgba(245, 72, 39, 0.8);
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 10px;
  height: 300%;
}

#Welcome {background-color: #E2725b;}
#About {background-color: #B63A20;}

.textover img { width: 100%; }
.textover { max-width: 600px; }

.textover { position: relative; } 
.textover figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
}

.textover figcaption {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  background: rgba(245, 72, 39, 0.8);
}

/* Style bootstrap cards */
.card-text{
  color: black:  
}
.card-text{
  color: black;
}
.card-title{
  color: black;
}

/* Style bootstrap button */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(245, 72, 39, 0.8);!important;
}